{% extends "base.html" %}

{% load humanize %}
{% block content %}
<div class="dashboard-items container columns is-multiline">
  <section class="section global column is-one-third">
    <div class="section-header">
      <h1>Global Statistics</h1>
    </div>
    <div class="section-content">
      <ul>
        <li><span class="dash-label">Mailing list subscribers:</span> <span class="dash-value">{{num_mailchimp_subscribers|intcomma}}</span></li>
        <li><span class="dash-label">Registered users:</span> <span class="dash-value">{{num_users|intcomma}}</span></li>
      </ul>
    </div>
    <div class="global-section-footer">
      <a href="{% url 'internal-leaderboard' %}" class="button is-medium" target="_blank">View Leaderboard</a>
    </div>
    <div class="bg"></div>
  </section>

  {% for challenge in challenges %}
  <section class="section column is-one-third">
    <div class="section-header">
      <h1>{{ challenge.challenge.name }}</h1>
    </div>
    <div class="section-content">
      <ul>
        <li><span class="dash-label">Teams:</span> <span class="dash-value">{{ challenge.num_teams|intcomma }}</span></li>
        <li><span class="dash-label">Successful approaches:<p>approaches with at least 1 successful submission</p></span> <span class="dash-value">{{ challenge.num_successful_approaches|intcomma  }}</span></li>
        <li><span class="dash-label">Total submissions processed:</span> <span class="dash-value">{{ challenge.num_total_submissions|intcomma  }}</span></li>
      </ul>
    </div>
    <div class="section-footer">
      <h4>Actions</h4>
      <ul>
      {% for task in challenge.challenge.tasks.all %}
      <form id="request-submission-bundle-{{ task.id }}" action="{% url 'request-submission-bundle' task.id %}?next={{ request.path|urlencode }}" method="POST">{% csrf_token %}</form>
      <li>
        <a href="#" onclick="document.getElementById('request-submission-bundle-{{ task.id }}').submit()">
          <i class="material-icons">link</i>
          <span>{{ task.name }}<span class="action-name">Generate submission bundle</span></span>
        </a>
        <!-- <a href="#" class="review-approach has-tooltip"><i class="material-icons">find_in_page</i><span class="tooltip is-right">Review Approaches</span></a> -->
      </li>
      {% endfor %}
      </ul>
    </div>
  </section>
  {% endfor %}
</div>

{% endblock %}
