{% extends "base.html" %}
{% block content %}
<section class="section container">
  <div class="section-header">
    <h1>{{ task.challenge.name }} {{ task.name }}</h1>
  </div>

  <div class="section-content approach-reviews">
      {% if not mine %}
      <p>
          <a href="?mine=1">
          <span class="tag is-link is-medium">Assigned to you ({{ num_assigned_to_user }})</span>
          </a>
      </p>
      {% else %}
      <p>
          <a href="{{ request.path }}">
              <span class="tag is-link is-medium">All</span>
          </a>
      </p>
      {% endif %}
    <div class="columns">
      <div class="column is-half">
        <h2>Approaches for review ({{ approaches|length }})</h2>
        <div class="approach-review">
          <div class="approach-list">
            {% for approach in approaches %}
            <div class="approach">
              <div class="approach-header">
                <div class="approach-name">
                    {{ approach.name }} <p class="is-italic" style="font-size: 14px;font-weight: 100;">{% if approach.review_assignee %}assigned to: {{ approach.review_assignee.first_name }} {{ approach.review_assignee.last_name }}{% else %}unassigned{% endif %}</p>
                </div>
                <a href="{{ approach.manuscript.url }}" class="button btn-nobg is-small text-with-icon icon-left" target="_blank"><i class="material-icons">find_in_page</i> View Manuscript</a>
                <div class="approach-id">
                  <span>ID:</span> {{ approach.pk }}
                </div>
              </div>
              <div class="approach-body">
                <div class="approach-team">
                  <p class="team-name"><span>Team</span>
                    {{ approach.team.name }}
                  </p>
                  {% if approach.team.institution %}
                    <p class="team-institution">
                      <span>Institution</span>
                      {% if approach.team.institution_url %}
                          <a href="{{ approach.team.institution_url }}">{% endif %}{{ approach.team.institution }}{% if approach.team.institution_url %}</a>
                      {% endif %}
                    </p>
                  {% endif %}
                  <p class="approach-external">
                    <span>External Data</span>
                    <span>{% if approach.uses_external_data %}Yes{% else %}No{% endif %}</span>
                  </p>
                  <p class="approach-score">
                    <span>Score</span>
                    <span class="text-with-icon icon-right">
                      {{ approach.relevant_submission.overall_score|floatformat:3 }}
                      <a href="{{ approach.relevant_submission.get_absolute_url }}"><span class="has-tooltip"><i class="material-icons">search</i><span class="tooltip is-right">View Submission</span></a>
                    </span>
                  </p>
                </div>
              </div>
              <div class="approach-footer">
                <form class="accept-reject" action="{% url 'submit-approach-review' approach.id %}?next={{ request.get_full_path|urlencode }}" method="POST">
                  {% csrf_token %}
                    <button class="button is-small is-success" type="submit" name="action" value="accepted">Accept</button>
                    <button class="button is-small is-danger" type="submit" name="action" value="rejected">Reject</button>
                  <label class="reason" for="id_reason">Rejection Reason:
                    <select name="reason" id="id_reason">
                      <option value=""></option>
                      <option value="blank_or_corrupt_manuscript">Blank or corrupt manuscript</option>
                      <option value="low_quality_manuscript">Low quality manuscript</option>
                      <option value="rule_violation">Violation of rules</option>
                    </select>
                  </label>
                  <input type="hidden" name="approach_id" value="{{ approach.id }}">
                </form>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="column is-half">
          <h2>Reviewed Approaches ({{ reviewed_approaches|length }})</h2>
        <div class="approach-review reviewed">
          <div class="approach-list">

            {% for approach in reviewed_approaches %}
            <div class="approach{% if approach.review_state == 'rejected' %} rejected{% else %} accepted{% endif %}">
              <div class="approach-header">
                <div class="approach-name">
                    {{ approach.name }} <p class="is-italic" style="font-size: 14px;font-weight: 100;">{% if approach.review_assignee %}assigned to: {{ approach.review_assignee.first_name }} {{ approach.review_assignee.last_name }}{% else %}unassigned{% endif %}</p>
                </div>
                <a href="{{ approach.manuscript.url }}" class="button btn-nobg is-small text-with-icon icon-left" target="_blank"><i class="material-icons">find_in_page</i> View Manuscript</a>
                <div class="approach-id">
                  <span>ID:</span> {{ approach.pk }}
                </div>
              </div>
              <div class="approach-body">
                <div class="approach-team">
                  <p class="team-name"><span>Team</span>
                    {{ approach.team.name }}
                  </p>
                  {% if approach.team.institution %}
                    <p class="team-institution">
                      <span>Institution</span>
                      {% if approach.team.institution_url %}
                          <a href="{{ approach.team.institution_url }}">{% endif %}{{ approach.team.institution }}{% if approach.team.institution_url %}</a>
                      {% endif %}
                    </p>
                  {% endif %}
                  <p class="approach-external">
                    <span>External Data</span>
                    <span>{% if approach.uses_external_data %}Yes{% else %}No{% endif %}</span>
                  </p>
                  <p class="approach-score">
                    <span>Score</span>
                    <span class="text-with-icon icon-right">
                      {{ approach.relevant_submission.overall_score|floatformat:3 }}
                      <a href="{{ approach.relevant_submission.get_absolute_url }}"><span class="has-tooltip"><i class="material-icons">search</i><span class="tooltip is-right">View Submission</span></a>
                    </span>
                  </p>
                </div>
              </div>
              <div class="approach-footer">
                <strong>{{ approach.get_review_state_display }}</strong>
                {% if approach.review_state == 'rejected' %}<span>{{ approach.get_reject_reason_display }}</span>{% endif %}

                <form action="{% url 'submit-approach-review' approach.id %}?next={{ request.get_full_path|urlencode }}" method="POST">
                  {% csrf_token %}
                  <input class="button is-small" type="submit" name="action" value="reset">
                  <input type="hidden" name="approach_id" value="{{ approach.id }}">
                </form>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}
