/* All Submissions
** ================================ */

.submissions-wrapper {
  padding: 25px 10px 10px;
}

.submissions-list {}

.submissions-list .submission.submission-header > div {
  background: #00A9A5;
  color: #fff;
  font-weight: 600;
}

.submissions-list .submission.submission-header > div:first-of-type {
  border-top-left-radius: 3px;
}

.submissions-list .submission.submission-header > div:last-of-type {
  border-top-right-radius: 3px;
}

.submissions-list .submission.submission-header > div:nth-child(odd) {
  background: #009e9b;
}

.submissions-list .submission {
  border-bottom: 1px solid #e8e8e8;
}

.submissions-list .submission > div:nth-child(odd) {
  background: #f9f9f9;
}

/* Single Submission Details
** ================================ */

.team-details {
  align-items: center;
  background: #424b52;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 35px 40px;
}

.team-details .team-name {
  color: #fff;
  margin: 0;
}

.team-details .overall-score {
  color: #b5c1ca;
  line-height: 1.65em;
  text-align: right;
}

.team-details .overall-score .score {
  color: #fff;
  font-size: 42px;
}

.team-details .overall-score .score-small {
  color: #fff;
  font-size: 24px;
  display: block;
  text-align: left;
}

.team-details .team-name,
.team-details .overall-score .score {
  align-items: center;
  display: flex;
}

.team-details .team-name i {
  font-size: 32px;
}

.team-details .overall-score i {
  color: #00A9A5;
  font-size: 32px;
  margin-top: 4px;
}

.team-details .team-name i,
.team-details .overall-score .score i {
  margin-right: 5px;
}

.data-download {
  align-items: center;
  background: #f4f7f9;
  border: 2px solid #eceeef;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px 30px 24px;
}

.data-download .title {
  color: #889096;
  margin: 0;
}

.data-download .button {
  align-items: center;
  display: flex;
  padding-right: 15px;
}

.data-download .button i {
  margin-left: 15px;
}
