<html>
<body style="max-width: 500px; color: #525151; background-color: #f9f5f5; font-family: helvetica; margin: 0 auto; text-align: center;">
    <img src="{{ url }}/static/img/isic_logo.png" style="display: block; margin: 0 auto 10px; width: 250px;"/>
    <center style="background: #fff; border-radius: 5px; box-shadow: 0 4px 20px #ddd; padding: 25px;">
        <p class="failure" style="background-color: #e72929d1; color: #fff; padding: 20px; border-radius: 3px; margin: 0 0 30px;">We made a mistake when processing your submission.</p>
        <table>
            <tr>
                <td width="30%">Task</td>
                <td class="value" style="font-weight: bold;">{{ submission.approach.task.name }}</td>
            </tr>
            <tr>
                <td width="30%">Team</td>
                <td class="value" style="font-weight: bold;">{{ submission.approach.team.name }}</td>
            </tr>
            <tr>
                <td width="30%">Approach</td>
                <td class="value" style="font-weight: bold;">{{ submission.approach.name }}</td>
            </tr>
        </table>

        <div>
            <p class="explanation" style="margin-top: 30px; padding-top: 30px; border-top: 1px solid #eeeeee;">
                This was a mistake on our part. We've been notified of
                the issue and are working on a solution. <strong>We have your data and no further
                    action is necessary on your part.</strong> If any further information is required,
                an administrator will contact you.
            </p>
        </div>
    </center>

</body>

</html>
