<html>
<body style="max-width: 500px; color: #525151; background-color: #f9f5f5; font-family: helvetica; line-height: 1.5em; margin: 0 auto;">
    <img src="{{ url }}/static/img/isic_logo.png" style="display: block; margin: 0 auto 10px; width: 250px;"/>
    <div style="background: #fff; border-radius: 5px; box-shadow: 0 4px 20px #ddd; padding: 25px;">
      <p>Hello,</p>
      <p>You've been invited by <strong style="color: #427AA1">{{ sent_from }}</strong> to join the following team: <strong style="color: #427AA1">{{ invite.team.name }}</strong>.</p>
      <p>By joining the team you'll be able to participate in the {{ invite.team.challenge }} challenge on behalf of {{ invite.team.name }}.</p>
      <div style="background: #eeeeee; border-radius: 5px; padding:6px 20px; margin: 20px 0;">
        <a href="{{ url }}" style="background: #00A9A5; border-radius: 3px; color: #fff; display:-inline-block; float: right; padding: 8px 12px; margin-top: 20px; margin-left: 45px; text-decoration: none;">Sign in here</a>
        <p>To join, sign in and click the Accept button at the top of the page.</p>
      </div>
      <p>Thanks for participating in the ISIC Challenge!</p>
    </div>
</body>
</html>
