{% extends "base.html" %}

{% block content %}
<section class="section container wizard">
  <div class="section-header">
    <h1><i class="material-icons">assignment</i> <a href="{{ task.get_absolute_url }}">{{ task.name }}</a></h1>
  </div>
  <div class="stepper">
    <progress class="progress is-primary" value="0" max="100"></progress>
    <div class="steps">
      <div class="step active">
        <div class="step-num">1</div>
        <h3>Team</h3>
      </div>
      <div class="step">
        <div class="step-num">2</div>
        <h3>Approach</h3>
      </div>
      <div class="step">
        <div class="step-num">3</div>
        <h3>Upload</h3>
      </div>
    </div>
  </div>

  <div class="section-content">
    <div class="columns">
      <div class="column new-team">
        <h2>Create New Team</h2>
        {% if has_rate_limited_teams %}
          <div class="help is-danger">
                  <i class="material-icons">error</i>
                  <ul class="errorlist nonfield">
                    <li>
                      This task only allows {{task.max_submissions_per_week }} submissions per team per week. You have one or more teams which have reached the maximum number of submissions per week.
                    </li>
                  </ul>
                </div>
        {% else %}
          {% include "partial-team.html" %}
        {% endif %}
      </div>
      <div class="column existing-team">
        <h2>Choose Existing Team</h2>
        {% if teams %}
        <ul class="teams">
          {% for team in teams %}
          <li {% if team.next_available_submission %} class="has-tooltip choice-list-item"{% endif %}>
            <a {% if not team.next_available_submission %}href="{% url 'create-approach' task.id team.id %}"{% else %}class="rate-limited"{% endif %}>
            {% if team.next_available_submission %}
            <span class="has-tooltip">
                <i class="material-icons">lock</i><span class="tooltip is-top">
                  This task only allows {{ task.max_submissions_per_week }} submissions per team per week. You can submit again in {{ team.next_available_submission|timeuntil }}.</span>
                </span>
            {% endif %}
              <i class="material-icons">group</i>
              <p>
                {{ team.name }}
                <span>{{ team.user_full_names|join:", " }}</span>
              </p>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No existing teams to choose from</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
