gunicorn
faker
psycopg2-binary
django-heroku
boto3
django
django-cors-headers
djangorestframework
django-storages
celery
django-allauth
coreapi
sentry-sdk
isic-challenge-scoring
django-import-export
requests
