{% extends "base.html" %}

{% load static %}
{% block content %}
<section class="section container">
    <div class="section-header">
        <h1>{{ challenge.name }} Challenge - {{ task.name }} {% if challenge.locked %}[Closed]{% endif %}</h1>
    </div>
    <div class="section-content">
					<h2><strong>Goal</strong></h2>
<p>Submit automated predictions of the locations of dermoscopic attributes (established clinically-meaningful visual skin lesion patterns) within dermoscopic images.</p>
<p>The following dermoscopic attributes should be identified:</p>
<ul>
<li><a href="https://dermoscopedia.org/Pigment_network" target="_blank" rel="noopener">pigment network</a></li>
<li><a href="https://dermoscopedia.org/Negative_Pigment_Network" target="_blank" rel="noopener">negative network</a></li>
<li><a href="https://dermoscopedia.org/Streaks" target="_blank" rel="noopener">streaks</a></li>
<li><a href="https://dermoscopedia.org/Milia_like_cysts" target="_blank" rel="noopener">milia-like cysts</a></li>
<li><a href="https://dermoscopedia.org/Globules" target="_blank" rel="noopener">globules</a>&nbsp;(including&nbsp;<a href="https://dermoscopedia.org/Dots" target="_blank" rel="noopener">dots</a>)</li>
</ul>

	<img src="{% static 'img/landing/2018/task2.png'%}">


					<h2><strong>Data</strong></h2>
<h3>Input Data</h3>
<p>The input data are&nbsp;dermoscopic lesion images in JPEG format.</p>
<p>All lesion images are named using the scheme&nbsp;<code>ISIC_&lt;image_id&gt;.jpg</code>, where <code>&lt;image_id&gt;</code>&nbsp;is a 7-digit unique identifier. EXIF tags in the images have been removed; any remaining EXIF tags should not be relied upon to provide accurate metadata.</p>
<p>The lesion images were acquired with a variety of <a href="https://dermoscopedia.org/Principles_of_dermoscopy">dermatoscope types</a>, from all anatomic sites (excluding mucosa and nails), from a historical sample of patients presented for skin cancer screening, from several different institutions. Every lesion image contains exactly one primary lesion; other fiducial markers, smaller secondary lesions, or other pigmented regions may be neglected.</p>
<p>The distribution of disease states represent a modified “real world” setting whereby there are more benign lesions than malignant lesions, but an over-representation of malignancies.</p>
<h3>Response Data</h3>
<p>The response data are binary mask images in PNG format,&nbsp;indicating the location of a dermoscopic attribute within each input lesion image.</p>
<p>Mask images are named using the scheme&nbsp;<code>ISIC_&lt;image_id&gt;_attribute_&lt;attribute_name&gt;.png</code>,&nbsp;where <code>&lt;image_id&gt;</code> matches the corresponding lesion image for the mask and&nbsp;<code>&lt;attribute_name&gt;</code>&nbsp;identifies a dermoscopic attribute:</p>
<ul>
<li><code>pigment_network</code></li>
<li><code>negative_network</code></li>
<li><code>streaks</code></li>
<li><code>milia_like_cyst</code></li>
<li><code>globules</code></li>
</ul>
<p>Mask images must have the exact same dimensions as their corresponding lesion image. Mask images are encoded as single-channel (grayscale) 8-bit PNGs (to provide lossless compression), where each pixel is either:</p>
<ul>
<li><code>0</code>: indicating areas where the dermoscopic attribute is absent</li>
<li><code>255</code>: indicating areas where the the dermoscopic attribute is present</li>
</ul>
<p>Regions with a given attribute are not necessarily contiguous within an image.</p>
<h4>Ground Truth Provenance</h4>
<p>Mask image ground truth (provided for training and used internally for scoring validation and test phases) data were generated by expert&nbsp;dermatology research fellows, supervised by a recognized dermoscopy expert, via a&nbsp;manual image annotation process of selecting <a href="http://www.kev-smith.com/papers/SLIC_Superpixels.pdf">SLIC superpixels</a>&nbsp;for each attribute within each image.
				</p>
					<h2><strong>Evaluation</strong></h2>
<h3>Goal Metric</h3>
<p>Predicted responses are scored using the Jaccard index. To compute, images are standardized to a fixed size (i.e. 256x256). Then all prediction pixels across the entire dataset (not image-by-image, as some images may have no positive instances of a dermascopic attribute) are compared to ground truth pixels. </p>
<h3>Other Metrics</h3>
<p>Participants will be ranked and awards granted based only on the Jaccard index. However, for scientific completeness, predicted responses will also have the following metrics computed on a pixel-wise basis (comparing prediction vs. ground truth) for each attribute in each image:</p>
<ul>
<li><a href="https://en.wikipedia.org/wiki/S%C3%B8rensen%E2%80%93Dice_coefficient">Dice coefficient</a></li>
</ul>
					<h2><strong>Submission Instructions</strong></h2>
<p>To participate in this task:</p>
<ol>
<li>Train
<ol>
<li>Download the training input data and training ground truth response data.</li>
<li>Develop an algorithm for locating dermoscopic attributes in general.</li>
</ol>
</li>
<li>Validate (optional)
<ol>
<li>Download the validation input data.</li>
<li>Run your algorithm on the validation Input data to produce validation predicted responses.</li>
<li>Submit these validation predicted responses to receive an immediate score. This will provide feedback that your predicted responses have the correct data format and have reasonable performance. You may make unlimited submissions.</li>
</ol>
</li>
<li>Test
<ol>
<li>Download the test input data.</li>
<li>Run your algorithm on the test input data to produce test predicted responses.</li>
<li>Submit these test predicted responses. You may submit a maximum of 3 separate approaches/algorithms to be evaluated independently. You may make unlimited submissions, but only the most recent submission for each approach will be used for official judging. Use the “brief description of your algorithm’s approach” field on the submission form to distinguish different approaches. Previously submitted approaches are available in the dropdown menu.</li>
<li>Submit a manuscript describing your algorithm’s approach.</li>
</ol>
</li>
</ol>

    </div>
</section>
{% endblock %}
