<table class="table is-hoverable is-bordered">
    <thead>
        <tr>
            <th><abbr title="Task">Task</abbr></th>
            <th><abbr title="Training Data">Training Data</abbr></th>
            <th><abbr title="Training Ground Truth Data">Training Ground Truth</abbr></th>
            <th><abbr title="Test Data">Test Data</abbr></th>
            <th><abbr title="Test Ground Truth Data">Test Ground Truth</abbr></th>
            <th><abbr title="License">License</abbr></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part1_Training_Data.zip">
                    Download (602MB)
                </a>
                <br>
                900 dermoscopic lesion images in JPEG format, with EXIF data stripped.
            </td>
            <td>
                <a
                    href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part1_Training_GroundTruth.zip">
                    Download (6MB)
                </a>
                <br>
                900 binary mask images in PNG format.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part1_Test_Data.zip">
                    Download (232MB)
                </a>
                <br>
                379 images of the exact same format as the Training Data.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part1_Test_GroundTruth.zip">
                    Download (2MB)
                </a>
                <br>
            </td>
            <td rowspan="5">
                <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">
                    CC-0
                </a>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part2_Training_Data.zip">
                    Download (671MB)
                </a>
                <br>
                807 lesion images in JPEG format and 807 corresponding superpixel masks in PNG format,
                with EXIF data stripped.
            </td>
            <td>
                <a
                    href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part2_Training_GroundTruth.zip">
                    Download (5MB)
                </a>
                <br>
                807 dermoscopic feature files in JSON format.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part2_Test_Data.zip">
                    Download (257MB)
                </a>
                <br>
                335 lesion images and 335 corresponding superpixel masks of the exact same formats as the
                Training Data.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part2_Test_GroundTruth.zip">
                    Download (2MB)
                </a>
                <br>
            </td>
        </tr>
        <tr>
            <th>2B</th>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part2B_Training_Data.zip">
                    Download (565MB)
                </a>
                <br>
                807 lesion images in JPEG format, with EXIF data stripped.
            </td>
            <td>
                <a
                    href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part2B_Training_GroundTruth.zip">
                    Download (5MB)
                </a>
                <br>
                1614 binary mask images in PNG format.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part2B_Test_Data.zip">
                    Download (216MB)
                </a>
                <br>
                335 lesion images of the exact same formats as the Training Data.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part2B_Test_GroundTruth.zip">
                    Download (2MB)
                </a>
                <br>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part3_Training_Data.zip">
                    Download (602MB)
                </a>
                <br>
                900 dermoscopic lesion images in JPEG format.
            </td>
            <td>
                <a
                    href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part3_Training_GroundTruth.csv">
                    Download (19KB)
                </a>
                <br>
                900 entries of gold standard malignant status.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part3_Test_Data.zip">
                    Download (232MB)
                </a>
                <br>
                379 images of the exact same format as the Training Data.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part3_Test_GroundTruth.csv">
                    Download (7KB)
                </a>
                <br>
            </td>
        </tr>
        <tr>
            <th>3B</th>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part3B_Training_Data.zip">
                    Download (608MB)
                </a>
                <br>
                900 dermoscopic lesion images in JPEG format and 900 associated segmentation binary
                masks in PNG format.
            </td>
            <td>
                <a
                    href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part3B_Training_GroundTruth.csv">
                    Download (19KB)
                </a>
                <br>
                900 entries of gold standard malignant status.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part3B_Test_Data.zip">
                    Download (234MB)
                </a>
                <br>
                379 images and 379 associated segmentation masks, of the exact same format as the
                Training Data.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2016/ISBI2016_ISIC_Part3B_Test_GroundTruth.csv">
                    Download (7KB)
                </a>
                <br>
            </td>
        </tr>
    </tbody>
</table>

<h3>Citing 2016 datasets:</h3>
<blockquote>
    Gutman, David; Codella, Noel C. F.; Celebi, Emre; Helba,
    Brian; Marchetti, Michael; Mishra, Nabin; Halpern, Allan.
    "Skin Lesion Analysis toward Melanoma Detection: A Challenge
    at the International Symposium on Biomedical Imaging (ISBI)
    2016, hosted by the International Skin Imaging Collaboration
    (ISIC)". eprint arXiv:1605.01397. 2016.
</blockquote>
