<table class="table is-hoverable is-bordered">
    <thead>
        <tr>
            <th><abbr title="Task">Task</abbr></th>
            <th><abbr title="Training Data">Training Data</abbr></th>
            <th><abbr title="Training Ground Truth Data">Training Ground Truth</abbr></th>
            <th><abbr title="Validation Data">Validation Data</abbr></th>
            <th><abbr title="Validation Ground Truth Data">Validation Ground Truth</abbr></th>
            <th><abbr title="Test Data">Test Data</abbr></th>
            <th><abbr title="Test Ground Truth Data">Test Ground Truth</abbr></th>
            <th><abbr title="License">License</abbr></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td rowspan="3">
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2017/ISIC-2017_Training_Data.zip">
                    Download (5.8GB)
                </a>
                <br>
                2000 lesion images in JPEG format and 2000 corresponding superpixel masks in PNG
                format, with EXIF data stripped.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2017/ISIC-2017_Training_Part1_GroundTruth.zip">
                    Download (9MB)
                </a>
                <br>
                2000 binary mask images in PNG format.
            </td>
            <td rowspan="3">
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2017/ISIC-2017_Validation_Data.zip">
                    Download (878MB)
                </a>
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2017/ISIC-2017_Validation_Part1_GroundTruth.zip">
                    Download (559KB)
                </a>
            </td>
            <td rowspan="3">
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2017/ISIC-2017_Test_v2_Data.zip">
                    Download (5.4GB)
                </a>
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2017/ISIC-2017_Test_v2_Part1_GroundTruth.zip">
                    Download (18MB)
                </a>
            </td>
            <td rowspan="3">
                <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">
                    CC-0
                </a>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2017/ISIC-2017_Training_Part2_GroundTruth.zip">
                    Download (710KB)
                </a>
                <br>
                2000 dermoscopic feature files in JSON format.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2017/ISIC-2017_Validation_Part2_GroundTruth.zip">
                    Download (51KB)
                </a>
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2017/ISIC-2017_Test_v2_Part2_GroundTruth.zip">
                    Download (210KB)
                </a>
                <br>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2017/ISIC-2017_Training_Part3_GroundTruth.csv">
                    Download (43KB)
                </a>
                <br>
                2000 entries of gold standard lesion diagnoses.
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2017/ISIC-2017_Validation_Part3_GroundTruth.csv">
                    Download (3KB)
                </a>
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2017/ISIC-2017_Test_v2_Part3_GroundTruth.csv">
                    Download (13KB)
                </a>
                <br>
            </td>
        </tr>
    </tbody>
</table>

<h3>Citing 2017 datasets:</h3>
<blockquote>
    Codella N, Gutman D, Celebi ME, Helba B, Marchetti MA, Dusza
    S, Kalloo A, Liopyris K, Mishra N, Kittler H, Halpern A.
    "Skin Lesion Analysis Toward Melanoma Detection: A Challenge
    at the 2017 International Symposium on Biomedical Imaging
    (ISBI), Hosted by the International Skin Imaging
    Collaboration (ISIC)". arXiv: 1710.05006 [cs.CV]
</blockquote>
