<table class="table is-hoverable is-bordered">
    <thead>
        <tr>
            <th><abbr title="Training Data">Training Data</abbr></th>
            <th><abbr title="Training Ground Truth Data">Training Ground Truth</abbr></th>
            <th><abbr title="Test Data">Test Data</abbr></th>
            <th><abbr title="Test Ground Truth Data">Test Ground Truth</abbr></th>
            <th><abbr title="License">License</abbr></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <a href="https://isic-archive.s3.amazonaws.com/challenges/2020/ISIC_2020_Training_Dicom.zip">
                        Download DICOM (48.9GB)
                    </a>
                    <br>
                    33,126 DICOM images with embedded metadata.
                </p>
                <p>
                    <a href="https://isic-archive.s3.amazonaws.com/challenges/2020/ISIC_2020_Train_DICOM_corrected.zip">
                        Download DICOM Corrected* (23.0GB)
                    </a>
                    <br>
                    33,126 DICOM images with embedded metadata.
                </p>
                <hr>
                <p>
                    <a href="https://isic-archive.s3.amazonaws.com/challenges/2020/ISIC_2020_Training_JPEG.zip">
                        Download JPEG (23GB)
                    </a>
                    <br>
                    33,126 JPEG images.
                </p>
                <p>
                    <a href="https://isic-archive.s3.amazonaws.com/challenges/2020/ISIC_2020_Training_GroundTruth.csv">
                        Download metadata (2MB)
                    </a>
                    <br>
                    33,126 metadata entries of patient ID, sex, age, and general anatomic site.
                </p>
                <p>
                    <a href="https://isic-archive.s3.amazonaws.com/challenges/2020/ISIC_2020_Training_GroundTruth_v2.csv">
                        Download metadata v2 (2MB)
                    </a>
                    <br>
                    33,126 metadata entries of patient ID, lesion ID, sex, age, and general anatomic site.
                </p>
                <p>
                    <a href="https://isic-archive.s3.amazonaws.com/challenges/2020/ISIC_2020_Training_Duplicates.csv">
                        Download duplicate image list (2MB)
                    </a>
                    <br>
                    List of 425 duplicate images.
                </p>
            </td>
            <td>
                <a href="https://isic-archive.s3.amazonaws.com/challenges/2020/ISIC_2020_Training_GroundTruth.csv">
                    Download (2MB)
                </a>
                <br>
                33,126 entries of gold standard lesion diagnoses.
            </td>
            <td>
                <p>
                    <a href="https://isic-archive.s3.amazonaws.com/challenges/2020/ISIC_2020_Test_Dicom.zip">
                        Download DICOM (15.3GB)
                    </a>
                    <br>
                    10,982 DICOM images with embedded metadata.
                </p>
                <p>
                    <a href="https://isic-archive.s3.amazonaws.com/challenges/2020/ISIC_2020_Test_DICOM_corrected.zip">
                        Download DICOM Corrected* (6.7GB)
                    </a>
                    <br>
                    10,982 DICOM images with embedded metadata.
                </p>
                <hr>
                <p>
                    <a href="https://isic-archive.s3.amazonaws.com/challenges/2020/ISIC_2020_Test_JPEG.zip">
                        Download JPEG (6.7GB)
                    </a>
                    <br>
                    10,982 JPEG images.
                </p>
                <p>
                    <a href="https://isic-archive.s3.amazonaws.com/challenges/2020/ISIC_2020_Test_Metadata.csv">
                        Download metadata (458KB)
                    </a>
                    <br>
                    10,982 metadata entries of patient ID, sex, age, and general anatomic site.
                </p>
            </td>
            <td>
                {% include 'partials/not_available.html' %}
            </td>
            <td>
                <a href="https://creativecommons.org/licenses/by-nc/4.0/">
                    CC-BY-NC
                </a>
            </td>
        </tr>
    </tbody>
</table>

<p>
    *The newer version of the DICOM files are provided to avoid potential errors stemming from readers implementing a
    strict DICOM verification, as implemented in <a
        href="http://dclunie.com/dicom3tools/dciodvfy.html">http://dclunie.com/dicom3tools/dciodvfy.html</a>.
</p>

<h3>Citing 2020 datasets:</h3>
To comply with the attribution requirements of the
<a href="https://creativecommons.org/licenses/by-nc/4.0/">
    CC-BY-NC license
</a>,
the aggregate "ISIC 2020" data must be cited as:
<blockquote>
    <p>
        International Skin Imaging Collaboration. SIIM-ISIC 2020 Challenge Dataset.
        <i>International Skin Imaging Collaboration</i>
        <a href="https://doi.org/10.34970/2020-ds01">
            https://doi.org/10.34970/2020-ds01
        </a>
        (2020).
    </p>
    <p>
        Creative Commons Attribution-Non Commercial 4.0 International License.
    </p>
    <p>
        The dataset was generated by the International Skin Imaging Collaboration (ISIC)
        and images are from the following sources: Hospital Clínic de Barcelona,
        Medical University of Vienna, Memorial Sloan Kettering Cancer Center,
        Melanoma Institute Australia, The University of Queensland, and the
        University of Athens Medical School.
    </p>
    <p>You should have received a copy of the license along with this work.</p>
    <p>If not, see
        <a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode.txt">
            https://creativecommons.org/licenses/by-nc/4.0/legalcode.txt
        </a>.
    </p>
</blockquote>
When referencing this dataset in your own manuscripts and publications, please use the
following full citation. Please note this is a preprint and has not undergone peer review.
It is being prepared for submission and if accepted to a peer reviewed journal the below
will be updated accordingly:
<blockquote>
    <p>
        [1] Rotemberg, V., Kurtansky, N., Betz-Stablein, B., Caffery, L., Chousakos, E.,
        Codella, N., Combalia, M., Dusza, S., Guitera, P., Gutman, D., Halpern, A., Helba, B.,
        Kittler, H., Kose, K., Langer, S., Lioprys, K., Malvehy, J., Musthaq, S.,
        Nanda, J., Reiter, O., Shih, G., Stratigos, A., Tschandl, P., Weber, J. & Soyer, P.
        A patient-centric dataset of images and metadata for identifying melanomas using clinical
        context.
        Sci Data 8, 34 (2021).
        <a href="https://doi.org/10.1038/s41597-021-00815-z">https://doi.org/10.1038/s41597-021-00815-z</a>
    </p>
</blockquote>
