<table class="table is-hoverable is-bordered">
  <thead>
    <tr>
      <th><abbr title="Training Data">Training Data</abbr></th>
      <th><abbr title="Training Ground Truth Data">Training Ground Truth</abbr></th>
      <th><abbr title="Test Data">Test Data</abbr></th>
      <th><abbr title="Test Ground Truth Data">Test Ground Truth</abbr></th>
      <th><abbr title="License">License</abbr></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>
          <a href="https://isic-archive.s3.amazonaws.com/challenges/milk10k/MILK10k_Training_Input.zip">
            Download (314MB)
          </a>
          <br>
          10,480 JPEG images, for 5,240 lesions.
        </p>
        <p>
          <a href="https://isic-archive.s3.amazonaws.com/challenges/milk10k/MILK10k_Training_Metadata.csv">
            Download (2MB)
          </a>
          <br>
          10,480 metadata entries, for 5,240 lesions.
        </p>
        <hr>
        <a href="https://isic-archive.s3.amazonaws.com/challenges/milk10k/MILK10k_Training_Supplement.csv">
          Download (549KB)
        </a>
        <br>
        10,480 supplemental metadata entries.
      </td>
      <td>
        <a href="https://isic-archive.s3.amazonaws.com/challenges/milk10k/MILK10k_Training_GroundTruth.csv">
          Download (287KB)
        </a>
        <br>
        5,240 lesion diagnoses.
      </td>
      <td>
        <p>
          <a href="https://isic-archive.s3.amazonaws.com/challenges/milk10k/MILK10k_Test_Input.zip">
            Download (30MB)
          </a>
          <br>
          958 JPEG images, for 479 lesions.
        </p>
        <p>
          <a href="https://isic-archive.s3.amazonaws.com/challenges/milk10k/MILK10k_Test_Metadata.csv">
            Download (217KB)
          </a>
          <br>
          958 metadata entries, for 479 lesions.
        </p>
      </td>
      <td>
        {% include 'partials/not_available.html' %}
      </td>
      <td>
        <a href="https://creativecommons.org/licenses/by-nc/4.0/">
          CC-BY-NC
        </a>
      </td>
    </tr>
  </tbody>
</table>

<h3>Citing 2025 datasets:</h3>
To comply with the attribution requirements of the
<a href="https://creativecommons.org/licenses/by-nc/4.0/">
    CC-BY-NC license
</a>,
the "ISIC 2025" data must be cited as:
<blockquote>
  MILK study team. <em>MILK10k.</em> ISIC Archive, 2025, doi:10.34970/648456.
</blockquote>
