{% extends "base.html" %} {% block content %}
  {% load static %}
  <section class="section container">
    <div class="section-header">
      <h1>{{ challenge.name }} Challenge {% if challenge.locked %}[Closed]{% endif %}</h1>
    </div>

    <div class="section-content">
      <h2><strong>Summary</strong></h2>
      <p><strong>This challenge is broken into three separate tasks:</strong></p>
      <ul>
        <li><span style="font-weight: 400;">Task 1: Lesion Segmentation &nbsp;</span></li>
        <li><span style="font-weight: 400;">Task 2: Lesion Attribute Detection</span></li>
        <li><span style="font-weight: 400;">Task 3: Disease Classification</span></li>
      </ul>
      <p><span style="font-weight: 400;">Each competitor may participate in any or all of these tasks. </span>
      </p>
      <p><span style="font-weight: 400;">In each task, participants are asked to submit automated predictions on a held-out test set by <b>July 27th, 11:59:59pm EDT</b>. In addition to submitting predictions, each competitor is required to submit a link to a single 4-page manuscript describing the methods used to generate predictions.&nbsp;Participants may combine descriptions for multiple tasks into a single manuscript.</span>
      </p>
      <p>Cash prizes of $2500 USD will be awarded to winners of each of the tasks. The monetary
        prizes for the winners of the challenge will be awarded at the time of the MICCAI Workshop
        in Granada on September 20, 2018. The prizes are being provided by Canfield Scientific,
        Inc., a US company, and are subject to any restrictions incumbent on the sponsor. Winners
        will be asked to identify a recipient individual or entity who will be required to provide
        tax documentation (U.S. citizens- IRS form W-9, non-U.S. citizens Form W-8 BEN).</p>
      <p><strong>When using the ISIC 2018 datasets in your research, please cite the following
        works:</strong></p>
      <p>[1] Noel Codella, Veronica Rotemberg, Philipp Tschandl, M. Emre Celebi, Stephen Dusza,
        David Gutman, Brian Helba, Aadi Kalloo, Konstantinos Liopyris, Michael Marchetti, Harald
        Kittler, Allan Halpern: “Skin Lesion Analysis Toward Melanoma Detection 2018: A Challenge
        Hosted by the International Skin Imaging Collaboration (ISIC)”, 2018;&nbsp;https://arxiv.org/abs/1902.03368</p>
      <p>[2]&nbsp;Tschandl, P., Rosendahl, C. &amp; Kittler, H. The HAM10000 dataset, a large
        collection of multi-source dermatoscopic images of common pigmented skin lesions. <em>Sci.
          Data </em><strong>5</strong>, 180161 doi:10.1038/sdata.2018.161 (2018).</p>

      <h1>Organizers</h1>
      <h4><span style="text-decoration: underline;">Sponsors</span></h4>
      <ul>
        <li><strong>Canfield Scientific &nbsp;</strong><img class="alignnone wp-image-320"
                                                            src="{% static 'img/canfield_logo.png' %}"
                                                            alt="" width="170" height="23"></li>
      </ul>
      <h4><span style="text-decoration: underline;">Clinical Chair</span></h4>
      <ul>
        <li><strong>Harald Kittler, M.D.</strong>&nbsp;<em>Medical University of Vienna, Vienna,
          Austria</em></li>
      </ul>
      <h4><span style="text-decoration: underline;">Computer Vision Chair</span></h4>
      <ul>
        <li><strong>Noel C. F. Codella, Ph.D.</strong> <em>IBM Research, New York, USA</em></li>
      </ul>
      <h4><span style="text-decoration: underline;">Challenge Co-Chairs</span></h4>
      <ul>
        <li><strong>M. Emre Celebi, Ph.D.</strong>&nbsp;<em>University of Central Arkansas, Conway,
          Arkansas</em></li>
        <li><strong>Kristin Dana, Ph.D.</strong>&nbsp;<em>Rutgers University, New Jersey, USA</em>
        </li>
        <li><strong>David Gutman, Ph.D.</strong>&nbsp;<em>Emory University, Atlanta, USA</em></li>
        <li><strong>Allan Halpern, M.D.</strong>&nbsp;<em>Memorial Sloan Kettering Cancer Center,
          New York, USA</em></li>
        <li><strong>Brian Helba</strong>&nbsp;<em>Kitware, Inc., New York, USA</em></li>
        <li><strong>Philipp Tschandl, M.D. Ph.D.</strong> <em>Medical University of Vienna, Vienna,
          Austria; Postdoctoral fellow at Simon Fraser University, British Columbia, Canada,
          supported by a one-year unrestricted research grant from MetaOptima Technology Inc.</em>
        </li>
      </ul>
      <p><em>Note: Any organizations/companies affiliated with members of the organizing committee
        are not excluded from participation in the Challenge, but must assure that their submissions
        are completely independent of the members of the organizing committee.</em></p>

      <ul class="landing-tasks">
        {% for task in challenge.tasks.all %}
          <li>
            <a href="{% url 'task-detail' task.id %}">
              <i class="material-icons">{% if challenge.locked or task.locked %}lock{% else %}timelapse{% endif %}</i>
              <p>{{task.name}}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
