{% extends "base.html" %} {% block content %}
  {% load static %}
  <section class="section container">
    <div class="section-header">
      <h1>{{ challenge.name }} Challenge {% if challenge.locked %}[Closed]{% endif %}</h1>
    </div>

    <div class="section-content">
      <h2><strong>Summary</strong></h2>
      <p>In addition to hosting Grand Challenges with specific timelines and associated awards and workshops,
        ISIC has made its Challenge platform and datasets from the Grand Challenges available on an ongoing basis.
        These <i>Live Challenges</i> serve as a resource for researchers looking to benchmark the performance of their algorithms
        and for teachers and students in need of practice and testing opportunities.
      </p>
      <p><strong>The following tasks are open for live-submission scoring:</strong>
      </p>
      <ul>
        <li><span style="font-weigth: 400;"><a href="https://www.kaggle.com/c/siim-isic-melanoma-classification/overview">2020</a>: SIIM-ISIC Melanoma Classification with patient-clustered images (2 classes)</span></li>
      </ul>
      <p><span style="font-weight: 400;">Each competitor may participate in any or all of these tasks. </span>
      </p>
      <p><em>Note: Any organizations/companies affiliated with members of the organizing committees of the listed Grand Challenges
        are not excluded from participation in the Live Challenges, but must assure that their submissions
        are completely independent of the members of the organizing committee.
      </em></p>
      {% include 'partials/task-listing.html' %}
    </div>
  </section>
{% endblock %}
