{% load static %}
<html>
  <title>ISIC Challenge</title>
  <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68986534-5"></script>
     <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-68986534-5');
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script>
    // See https://support.google.com/analytics/answer/7478520?hl=en
    var getOutboundLink = function(url) {
      gtag('event', 'click', {
        'event_category': 'outbound',
        'event_label': url,
        'transport_type': 'beacon',
        'event_callback': function(){document.location = url;}
      });
    }

    $(function() {
      $('a.track-outbound').attr('onclick', function() {
        return 'getOutboundLink("' + $(this).attr('href') + '"); return false;';
      });
    });
    </script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    {% block extra_head %}{% endblock %}

  </head>
  <body class="content">
    <header class="main-header">
      <div class="container">
        <div class="logo">
          <h1><a href="{% url 'index' %}"><img src="{% static 'img/isic_logo.svg' %}" alt="ISIC Challenge"></a></h1>
        </div>
        <div class="navigation">
          <ul class="navbar">
            {% if user.is_authenticated %}
              <strong>{{ request.user.email }}</strong>
              {% if user.is_superuser %}
              <li class="admin">
                  <a href="{% url 'admin:index' %}" class="button is-small">Admin</a>
              </li>
              {% endif %}
              {% if user.is_staff %}
              <li class="admin">
                  <a href="{% url 'staff-dashboard' %}" class="button is-small">Dashboard</a>
              </li>
              {% endif %}
              <li class="logout">
                  <a href="{% url 'account_logout' %}" class="button btn-blue is-small">Logout</a>
              </li>
            {% else %}
              <li id="login-button" class="login"><a href="{% url 'account_login' %}" class="button btn-blue">Login</a></li>
              <li class="signup"><a href="{% url 'account_signup' %}" class="button">Sign up</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </header>
        <div id="temporary-transition-banner" class="notification">
          <div class="container">
            <div class="notice-content">
              <h1 class="banner-title">The 2020 ISIC Challenge is underway!</h1>
              <h4 class="notice-title">To participate visit the <a href="https://www.kaggle.com/c/siim-isic-melanoma-classification/overview">competition on Kaggle</a>.</h4>
            </div>
          </div>
        </div>

    {% load invites %}

    {% show_pending_invites request %}
    <div class="main-content">
      {% if messages %}
        <div class="container notification-wrapper">
        {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="notification is-success">
              {{ message }}
            </div>
          {% endif %}

          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="notification is-danger">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}

      {% block content %}{% endblock %}

    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <span class="px-1"><a href="{% url 'terms-of-use' %}">Terms of Use</a></span>|<span class="px-1"><a href="mailto:support@isic-archive.com">Contact</a></span>
      </div>
    </footer>

    <div class="help-container">
      <a class="help-button button is-medium is-warning" href="mailto:support@isic-archive.com" target="_blank">Report an Issue</a>
    </div>
  </body>
</html>
