{% load static %}
<html>
  <title>ISIC Challenge</title>
  <head>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  </head>
  <body class="content">
    <header class="main-header">
      <div class="container">
        <div class="logo">
          <h1><a href="/"><img src="{% static 'img/isic_logo.svg' %}" alt="ISIC Challenge"></a></h1>
        </div>
        <div class="navigation">
          <ul class="navbar">
            <!-- <li class="nav-item"><a href="/">Tasks</a></li> -->
            {% if user.is_authenticated %}
              <strong>{{ request.user.email }}</strong>
              {% if user.is_staff %}
              <li class="admin">
                  <a href="/admin" class="button is-small">Admin</a>
              </li>
              {% endif %}
              <li class="logout">
                  <a href="/accounts/logout" class="button btn-blue is-small">Logout</a>
              </li>
            {% else %}
              <li class="login"><a href="/accounts/login" class="button btn-blue">Login</a></li>
              <li class="signup"><a href="/accounts/signup" class="button">Sign up</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </header>
    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="notification is-success">
            <button class="delete"></button>
            {{ message }}
          </div>
        {% endif %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="notification is-danger">
            <button class="delete"></button>
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% load invites %}

    {% show_pending_invites request %}
    <div class="main-content">

      {% block content %}{% endblock %}

    </div>
  </body>
</html>
