{% extends "base.html" %}

{% block content %}
<section class="section container wizard">
  <div class="section-header">
    <h1><i class="material-icons">assignment</i> {{ task.name }}</h1>
  </div>
  <div class="stepper">
    <progress class="progress is-primary" value="50" max="100"></progress>
    <div class="steps">
      <div class="step active">
        <div class="step-num"><i class="material-icons">check</i></div>
        <h3>Team</h3>
        <p>
          <a href="{% url 'create-team' task.id %}" class="change is-trans-parent">
            <span class="tooltip">change team</span>
            {{ team.name }}
            <i class="material-icons is-trans-rotate is-180">cached</i>
          </a>
        </p>
      </div>
      <div class="step active">
        <div class="step-num">2</div>
        <h3>Approach</h3>
      </div>
      <div class="step">
        <div class="step-num">3</div>
        <h3>Upload</h3>
      </div>
    </div>
  </div>

  <div class="section-content">
    <div class="columns">
      <div class="column new-approach">
        <h2>Create New Approach</h2>

        <form action="" class="create-approach" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          {% if form.non_field_errors %}
          <div class="help is-danger">
            <i class="material-icons">error</i>
            {{ form.non_field_errors }}
          </div>
          {% endif %}

          <div class="fields">

            <div class="field is-two-thirds name">
              <p class="control has-icons-left">
                <input autofocus class="input{% if form.name.errors %} is-danger{% endif %}" id="id_name" name="name" maxlength="100" placeholder="Approach Name" required type="text">
                <span class="icon is-small is-left">
                  <i class="material-icons">label</i>
                </span>
              </p>
              {% if form.name.errors %}
              <div class="help is-danger">
                {{ form.name.errors }}
              </div>
              {% endif %}
            </div>

            <div class="field external-data">
              <div class="control">
                <label class="checkbox">
                  <input id="id_uses_external_data" name="uses_external_data" type="checkbox">
                  Uses external data
                </label>
              </div>
            </div>

            <div class="field file-upload">
              <div class="file has-name is-medium is-fullwidth is-right{% if form.manuscript.errors %} is-danger{% endif %}">
                <label class="file-label">
                  <input class="file-input" id="id_manuscript" name="manuscript" required type="file">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="material-icons">file_copy</i>
                    </span>
                    <span class="file-label">
                      Choose a file (*.PDF)
                    </span>
                  </span>
                  <span class="file-name" id="file-name">
                    No file chosen
                  </span>
                </label>
                {% if form.manuscript.errors %}
                <div class="help is-danger">
                  {{ form.manuscript.errors }}
                </div>
                {% endif %}
              </div>
            </div>

          </div>

          <input class="button" type="submit" value="Create approach"/>
        </form>
      </div>
      <div class="column existing-approach">
        <h2>Choose Existing Approach</h2>
        {% if existing_approaches %}
        <ul class="approaches">
          {% for approach in existing_approaches %}
          <li><a href="{% url 'create-submission' approach.id %}"><i class="material-icons">import_contacts</i> {{ approach.name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No existing approaches to choose from</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  var file = document.getElementById("id_manuscript");
  file.onchange = function(){
    if(file.files.length > 0) {
      document.getElementById('file-name').innerHTML = file.files[0].name;
    }
  };
</script>
{% endblock %}
