{% extends "base.html" %}

{% block content %}
<section class="section container wizard">
  <div class="section-header">
    <h1><i class="material-icons">assignment</i> {{ approach.task.name }}</h1>
  </div>
  <div class="stepper">
    <progress class="progress is-primary" value="100" max="100"></progress>
    <div class="steps">
      <div class="step active">
        <div class="step-num"><i class="material-icons">check</i></div>
        <h3>Team</h3>
        <p>
          <a href="{% url 'create-team' approach.task.id %}" class="change is-trans-parent">
            <span class="tooltip">change team</span>
            {{ approach.team.name }}
            <i class="material-icons is-trans-rotate is-180">cached</i>
          </a>
        </p>
      </div>
      <div class="step active">
        <div class="step-num"><i class="material-icons">check</i></div>
        <h3>Approach</h3>
        <p>
          <a href="{% url 'create-approach' approach.task.id approach.team.id %}" class="change is-trans-parent">
            <span class="tooltip">change approach</span>
            {{ approach.name }}
            <i class="material-icons is-trans-rotate is-180">cached</i>
          </a>
        </p>
      </div>
      <div class="step active">
        <div class="step-num">3</div>
        <h3>Upload</h3>
      </div>
    </div>
  </div>

  <div class="section-content">

    <div class="new-submission">
      <h2>Upload Submission Data</h2>

      <form action="" class="create-submission" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="help is-danger">
          <i class="material-icons">error</i>
          {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div class="fields">

          <div class="field file-upload">
            <div class="file has-name is-medium is-fullwidth is-right{% if form.test_prediction_file.errors %} is-danger{% endif %}">
              <label class="file-label">
                <input class="file-input" id="id_test_prediction_file" name="test_prediction_file" required type="file">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="material-icons">file_copy</i>
                  </span>
                  <span class="file-label">
                    Choose a file (*.CSV)
                  </span>
                </span>
                <span class="file-name" id="file-name">
                  No file chosen
                </span>
              </label>
              {% if form.test_prediction_file.errors %}
              <div class="help is-danger">
                {{ form.test_prediction_file.errors }}
              </div>
              {% endif %}
            </div>
          </div>

          <div class="field accepted-terms">
            <div class="control">
              <label class="checkbox">
                <input id="id_accepted_terms" name="accepted_terms" type="checkbox">
                <p><strong>Data sharing policy:</strong> We agree to allow this submission to be shared and used for additional research.</p>
              </label>
              {% if form.accepted_terms.errors %}
              <div class="help is-danger">
                {{ form.accepted_terms.errors }}
              </div>
              {% endif %}
            </div>
          </div>

        </div>
        <input class="button" type="submit" value="Submit data"/>
      </form>
    </div>

  </div>
</section>

<script type="text/javascript">
  var file = document.getElementById("id_test_prediction_file");
  file.onchange = function(){
    if(file.files.length > 0) {
      document.getElementById('file-name').innerHTML = file.files[0].name;
    }
  };
</script>
{% endblock %}
