ul.landing-tasks {
  margin-top: 30px;
  margin-left: 0px;
}

ul.landing-tasks > li {
  margin: 10px 0 10px 0;
  background-color: rgb(121, 133, 142);
  border-bottom-color: rgb(88, 99, 107);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(88, 99, 107);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(88, 99, 107);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(88, 99, 107);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  list-style-type: none;
}

ul.landing-tasks > li a i {
  margin-right: 10px;
}

ul.landing-tasks > li a {
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
}
