/* Task Dashboard Styles
** ================================ */

 .tasks .text .title,
 .teams .title:first-of-type {
   border-bottom: 1px solid #e3e6e8;
   margin-bottom: 15px;
   padding-bottom: 10px;
 }

 .data-download {
   align-items: center;
   background: #f4f7f9;
   border: 2px solid #eceeef;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
   padding: 20px 30px 24px;
 }

 .data-download .title {
   color: #889096;
   margin: 0;
 }

 .teams .noteam {
   color: #989898;
   padding: 60px;
   text-align: center;
 }

 .teams .noteam h5 {
   color: #989898;
 }

 .teams .team {
   border-top: 5px solid #00A9A5;
   border-radius: 3px;
   box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
   margin-bottom: 20px;
   padding: 20px 20px 25px;
 }

 .team .approach {
   border-bottom: 1px solid #e3e6e8;
   display: flex;
   padding: 10px 15px;
 }

 .team .approach:first-of-type {
   border-top: 1px solid #e3e6e8;
 }

 .team .approach .approach-name {
   flex: 5;
 }

 .team .approach .score {
   font-weight: 600;
 }

 .team .approach .status,
 .team .approach .score {
   text-align: center;
 }

 .team .approach .status,
 .team .approach .score,
 .team .approach .button {
   display: flex;
   align-items: center;
   flex: 1;
   padding: 0 10px;
 }

 .team .approach .status .material-icons {
   margin-left: 5px;
  }

 .team .approach .status a::after {
	 margin-left: 5px;
 }

 .team .approach .help {
   display: inline;
   font-size: inherit;
 }

 .team .approach .help .material-icons {
   font-size: 16px;
   vertical-align: middle;
 }

 .team .no-approach {
   align-items: center;
   background: #fafafa;
   display: flex;
   justify-content: center;
   padding: 30px;
   text-align: center;
 }

 .team .no-approach p {
   margin: 0 10px 0 0;
   padding: 0;
 }

 .team .no-approach a {
   font-weight: 600;
 }

 .team .footer {
   align-items: center;
   color: #00A9A5;
   display: flex;
   justify-content: space-between;
   padding: 15px;
 }

 .team .footer .footnote {
   display: flex;
   font-size: 14px;
   font-style: italic;
 }

 .team .footer .footnote .material-icons {
   font-size: 20px;
   margin-right: 5px;
 }

 .team .footer .button {
   justify-self: right;
 }
