{% extends "base.html" %}

{% block content %}
<section class="section container">
  <div class="section-header">
    <h1>Invite to {{ team.name }}</h1>
  </div>
  <div class="section-content">
    <form action="" method="post" class="create-invitation">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="help is-danger">
                <i class="material-icons">error</i>
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="fields">
          <div class="field">
            <input autofocus class="input" id="id_recipient" name="recipient" maxlength="100" placeholder="Recipient Email" type="text" value="{{ request.POST.recipient }}" required>
            {% if form.recipient.errors %}
                <div class="help is-danger">
                    {{ form.recipient.errors }}
                </div>
            {% endif %}
          </div>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <input class="button" type="submit" value="Send invite"/>
    </form>
  </div>
</section>
{% endblock %}
