{% extends "base.html" %}
{% load cache %}
{% load humanize %}

{% block content %}
  {% cache 21600 stats_page request.user.is_staff %}
  <div class="container dashboard-items">
    <p>Users: {{ global_stats.num_users|intcomma }}</p>
    <p>Teams: {{ global_stats.num_teams|intcomma }}</p>
    <p>Successful approaches: {{ global_stats.num_approaches|intcomma }}</p>
    <p>Submissions: {{ global_stats.num_submissions|intcomma }}</p>
    {% if request.user.is_staff %}
      <p>Mailing list subscribers: {{ global_stats.num_mailchimp_subscribers|intcomma }}</p>
    {% endif %}

    <section class="live-challenge p-5">
      <div class="columns w-full">
        <div class="column section-content is-half">
          <div class="section-header">
            <h1>{{ live_challenge.name }}</h1>
          </div>
          <ul>
            <li><span class="dash-label">Teams:</span> <span class="dash-value">{{ live_challenge.num_teams|intcomma }}</span></li>
            <li><span class="dash-label">Successful approaches:<p>approaches with at least 1 successful submission</p></span> <span class="dash-value">{{ live_challenge.stats.num_successful_approaches|intcomma  }}</span></li>
            <li><span class="dash-label">Total submissions processed:</span> <span class="dash-value">{{ live_challenge.stats.num_total_submissions|intcomma  }}</span></li>
          </ul>
        </div>
        <div class="column section-footer">
          <div class="is-flex is-align-items-center is-justify-content-space-between">
            <h4><strong>Tasks</strong></h4>
            <h4>Success/Total</h4>
          </div>
          <ul>
            {% for task in live_challenge.stats.tasks %}
              <li>
                <a href="#">
                  <span>{{ task.name }}</span>
                </a>

                <div class="is-flex is-align-items-center pr-4">
                  <span>{{ task.num_successful_approaches|intcomma  }}</span>
                  <span>/</span>
                  <span>{{ task.num_total_submissions|intcomma  }}</span>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="dashboard-items container columns is-multiline">
    {% for challenge in challenges %}
      <section class="section column is-one-third">
        <div class="dash-item-wrap">
          <div class="section-header">
            <h1>{{ challenge.name }}</h1>
          </div>
          <div class="section-content">
            <ul>
              <li><span class="dash-label">Teams:</span> <span class="dash-value">{{ challenge.num_teams|intcomma }}</span></li>
              <li><span class="dash-label">Successful approaches:<p>approaches with at least 1 successful submission</p></span> <span class="dash-value">{{ challenge.stats.num_successful_approaches|intcomma  }}</span></li>
              <li><span class="dash-label">Total submissions processed:</span> <span class="dash-value">{{ challenge.stats.num_total_submissions|intcomma  }}</span></li>
            </ul>
          </div>
          <div class="section-footer">
            <div class="is-flex is-align-items-center is-justify-content-space-between">
              <h4><strong>Tasks</strong></h4>
              <h4>Success/Total</h4>
            </div>
            <ul>
              {% for task in challenge.stats.tasks %}
                {% if request.user.is_staff %}
                  <form id="request-submission-bundle-{{ task.id }}" action="{% url 'request-submission-bundle' task.id %}?next={{ request.path|urlencode }}" method="POST">
                    {% csrf_token %}
                  </form>
                {% endif %}
                <li>
                  <a href="{% url 'task-landing' task.challenge.slug task.id %}">
                    <span>{{ task.name }}</span>
                  </a>

                  <div class="is-flex is-align-items-center pr-4">
                    <span>{{ task.num_successful_approaches|intcomma  }}</span>
                    <span>/</span>
                    <span>{{ task.num_total_submissions|intcomma  }}</span>
                  </div>

                  {% if request.user.is_staff %}
                    <a onclick="document.getElementById('request-submission-bundle-{{ task.id }}').submit()" class="review-approach has-tooltip"><i class="material-icons">cloud_download</i><span class="tooltip is-left">Generate Submission Bundle</span></a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
    {% endfor %}
  </div>
  {% endcache %}
{% endblock %}
