{% extends "base.html" %}

{% block content %}
<section class="section container wizard">
  <div class="section-header">
    <h1><i class="material-icons">assignment</i> <a href="{{ task.get_absolute_url }}">{{ task.name }}</a></h1>
  </div>
  <div class="stepper">
    <progress class="progress is-primary" value="50" max="100"></progress>
    <div class="steps">
      <div class="step active">
        <div class="step-num"><i class="material-icons">check</i></div>
        <h3>Team</h3>
        <p>
          <a href="{% url 'create-team' task.id %}" class="change is-trans-parent">
            <span class="tooltip">change team</span>
            {{ team.name }}
            <i class="material-icons is-trans-rotate is-180">cached</i>
          </a>
        </p>
      </div>
      <div class="step active">
        <div class="step-num">2</div>
        <h3>Approach</h3>
      </div>
      <div class="step">
        <div class="step-num">3</div>
        <h3>Upload</h3>
      </div>
    </div>
  </div>

  <div class="section-content">
    <div class="columns">
      <div class="column new-approach">
        <h2>Create New Approach</h2>
        {% include "partial-approach.html" %}
      </div>
      <div class="column existing-approach">
        <h2>Choose Existing Approach</h2>
        {% if existing_approaches %}
        <ul class="approaches">
          {% for approach in existing_approaches %}
          <li><a href="{% url 'create-submission' approach.id %}"><i class="material-icons">import_contacts</i>
              {{ approach.name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No existing approaches to choose from</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
