{% extends "base.html" %}

{% load humanize %}
{% block content %}
<div class="dashboard-items container columns is-multiline">
  <section class="section global column is-one-third">
    <div class="section-header">
      <h1>Global Statistics</h1>
    </div>
    <div class="section-content">
      <ul>
        <li><span class="dash-label">Mailing list subscribers:</span> <span class="dash-value">{{num_mailchimp_subscribers|intcomma}}</span></li>
        <li><span class="dash-label">Registered users:</span> <span class="dash-value">{{num_users|intcomma}}</span></li>
      </ul>
    </div>
    <div class="bg"></div>
  </section>

  {% for challenge in challenges %}
  <section class="section column is-one-third">
    <div class="section-header">
      <h1>{{ challenge.challenge.name }}</h1>
    </div>
    <div class="section-content">
      <ul>
        <li><span class="dash-label">Teams:</span> <span class="dash-value">{{ challenge.num_teams|intcomma }}</span></li>
        <li><span class="dash-label">Successful approaches:<p>approaches with at least 1 successful submission</p></span> <span class="dash-value">{{ challenge.num_successful_approaches|intcomma  }}</span></li>
        <li><span class="dash-label">Total submissions processed:</span> <span class="dash-value">{{ challenge.num_total_submissions|intcomma  }}</span></li>
      </ul>
    </div>
    <div class="section-footer">
      <h4>Tasks</h4>
      <ul>
      {% for task in challenge.challenge.tasks.all|dictsort:"name" %}
      <form id="request-submission-bundle-{{ task.id }}" action="{% url 'request-submission-bundle' task.id %}?next={{ request.path|urlencode }}" method="POST">{% csrf_token %}</form>
      <li>
        <a href="#">
          <span>{{ task.name }}</span>
        </a>
          <a onclick="document.getElementById('request-submission-bundle-{{ task.id }}').submit()" class="review-approach has-tooltip"><i class="material-icons">cloud_download</i><span class="tooltip is-left">Generate Submission Bundle</span></a>
      </li>
      {% endfor %}
      </ul>
    </div>
  </section>
  {% endfor %}
</div>

{% endblock %}
